<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!-- WEBPAGE TITLE -->
	<title>Rock Paper Scissors Multiplayer Parse.com JavaScript Client</title>
	
	<!-- CONTENT OF PAGE TYPE -->
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
		
		<!-- DEPENDENCY INCLUDES -->
		<script src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		
<!-- SCRIPT BODY -->
<script type="text/javascript">
		
$(function() {
      
      // Set Parse alias
      Parse.$ = jQuery;

      // Initialize Parse with your Parse application javascript keys
      Parse.initialize("0vOKQvmz86XkX5WdzPxYHqHE66zuWRq2YX5lsgSq",
                   "eyxUypnIPa2Km1MC8TQ4zhywRo9T2IPWZqaVPuHo");
      
      // the view for the arena
      var ArenaView = Parse.View.extend({
      	events: {
			'click a.log-out' : 'logOut',
			'click button.player-name' : 'startMatch'
      	},
      	
		el: '.content',
      	
		initialize: function() {
			_.bindAll(this, 'logOut','getActivePlayers','startMatch');
      			this.render();
      	},
		
		startMatch: function doSomething(e) {
			var self = this;

			var targ;
			if (!e) var e = window.event;
			if (e.target) targ = e.target;
			else if (e.srcElement) targ = e.srcElement;
			if (targ.nodeType == 3) // defeat Safari bug
				targ = targ.parentNode;
			
			var Match = Parse.Object.extend('Match');
			var newMatch = new Match();
			newMatch.set('challenger',Parse.User.current());
			newMatch.save();
			
			var query = new Parse.Query(Parse.User);
			query.equalTo('username',targ.innerHTML);
			query.find({
				success:function(results){
					newMatch.set('challenged',results[0]);
					newMatch.save();
					console.log(newMatch.get('challenger').get('username') + " has challenged " + newMatch.get('challenged').get('username') + " to a game of rock, paper, scissors");
				}, error: function(error){
					alert(error.message);
				}
				});
			
          		new ArenaView();
          		self.undelegateEvents();
          		delete self;
		},
		
		getActivePlayers: function() {
			var query = new Parse.Query(Parse.User);
			query.equalTo('active',true);
			//query.notEqualTo('objectId',Parse.User.current().id);
			query.find({
				success:function(results){
					if (!results.length) {
					$('#player-list').html('<li>No other active users</li>');
					} else {
					console.log("Active user list ["+results.length+"]:");
      var playerListHTML = "<% _.each(activePlayersList,function(result){ %><li><button class='player-name'><%= result.get('username') %></button></li><% });%>";
      $('#player-list').html(_.template(playerListHTML, {activePlayersList : results}));
	  console.log(_.template(playerListHTML, {activePlayersList : results}));
						for (var i = 0; i < results.length; i++) { 
     						var object = results[i];
      						console.log((i+1) + ') ' + object.id + ' - ' + object.get('username'));
    					}
					}
					},
				error:function(error){
						console.log("Error " + error.code + " : " + error.message);
				}
			});
		},
		
		// Logs out the user and shows the login view
   		logOut: function(e) {
			
			Parse.User.current().set("active",false);
			Parse.User.current().save();
      		
			Parse.User.logOut();
      		
			new LoginView();
      		
			this.undelegateEvents();
			delete this;
   		},
		
      	render: function() {
			
			if (!Parse.User.current().get("active"))
			{
				Parse.User.current().set("active",true);
				Parse.User.current().save();
			}
			
			this.$el.html(_.template($('#arena-template').html()));
      		
			this.getActivePlayers();
			
			this.delegateEvents();
      	}
      })
      
      // the view for the login form  
      var LoginView = Parse.View.extend({
    events: {
      "submit form.login-form": "logIn",
      "submit form.signup-form": "signUp"
    },

    el: ".content",
    
    initialize: function() {
      _.bindAll(this, "logIn", "signUp");
      this.render();
    },

    logIn: function(e) {
	  e.preventDefault();
      var self = this;
      var username = this.$("#login-username").val();
      var password = this.$("#login-password").val();
      
      Parse.User.logIn(username, password, {
        success: function(user) {
          new ArenaView();
          self.undelegateEvents();
          delete self;
        },

        error: function(user, error) {
          self.$(".login-form .error").html("Invalid username or password. Please try again.").show();
        }
      });
    },

    signUp: function(e) {
	  e.preventDefault();
      var self = this;
      var username = this.$("#signup-username").val();
      var password = this.$("#signup-password").val();

      Parse.User.signUp(username, password, { ACL: new Parse.ACL() }, {
        success: function(user) {
	  // adjust ACL for PublicReadAccess
	  var userACL = user.getACL();
	  userACL.setPublicReadAccess(true);
          user.save();
	  
          // swap to ArenaView
          new ArenaView();
          self.undelegateEvents();
          delete self;
        },

        error: function(user, error) {
          self.$(".signup-form .error").html(error.message).show();
        }
      });
    },

    render: function() {
      this.$el.html(_.template($("#login-template").html()));
      this.delegateEvents();
    }
  });
        
        
      // The main view for the app
      var AppView = Parse.View.extend({
      	el: $("#rpsapp"),
      	
      	initialize : function() {
      		this.render();
      	},
      	
      	render: function() {
      		if (Parse.User.current()) {
      			new ArenaView();
      		} else {
      			new LoginView();	
      		} 
      	}
      });
      
      new AppView();
});
                   
      
                   
</script>
		
		
</head>

<body>

  <!-- RPS App Interface -->

  <div id="rpsapp">
    <div class="title">
      <h1>Rock Paper Scissors</h1>
    </div>

    <div class="content">
    </div>
  </div>
  
  <!-- Templates -->

  <script type="text/template" id="login-template">
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>
    
    <script type="text/template" id="arena-template">
      <h2>Select someone else to play with:</h2>
      <div class="arena">
      <ul id="player-list">
      </ul>
      </div>
      </div>
      <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
    </script>
    
    <script type="text/template" id="game-template">
      <div class="game">
      
      </div>
    </script>
    
</body>
</html>
